<html>
    <head>
        <title>Sayuri's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sayuri's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.05.2022, 23:32</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam.  こんにちは！よろしくお願いします！</p>
        </div>

        <div>
            <p>公開日:2022/5/29, 23:34</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは！よろしくお願いします！</p>
        </div>
    </body>
</html>